body{
  font-family: 'Montserrat', sans-sans-serif;
  background-color: white;
  margin: 0px auto;
}
@media only screen and (max-width: 768px) and (orientation: portrait){
  width:100vw;
}
@media only screen and (max-width: 768px) and (orientation: landscape){
  width:100vw;
}
#container{
  width:  600px;
  height: auto;
  margin: 0px auto;
  background-color: lightGray;
}
#calculator{
  width:  600px;
  height: 820px;
  margin: 0px auto;
  background-color: lightGray;
  position: relative;
  border-radius: 5px;
}
#display{
  height: 130px;
  text-align: right;
  margin: 0 80px;
  padding-top: 20px;
}
#keys{
  height: 400px;
  margin-left: 40px;
  padding-top: 15px;
}
#calc{
  font-size: 1.5em;
}
#res{
  font-size: 2.5em;
}
.operator, .number, .space{
  font-weight: bold;
  width: 100px;
  height: 100px;
  margin: 15px;
  float: left;
  border-radius: 50%;
  border-width: 0;
  font-size: 1.5em;
  background-color: lightGray;
}
.operator:focus, .number:focus, .space:focus{
  outline: 0;
}
.operator:active, .number:active{
  background-color: darkGray;
  box-shadow: 0 3px #666;
  transform: translateY(2px);
  transition: 0.3s ease-out;
}
.operator{
  background-color: white;
}
.space{
  background-color: lightGray;
}
